@charset "utf-8";



/* ===== font ===== */

/* inter thin */
@font-face {
	font-family: "inter";
  src :	local(※),
    url("../../../font/Inter-Thin.woff") format("woff"),
    url("../../../font/Inter-Thin.woff2") format("woff2"),
    url("../../../font/Inter-Thin.otf") format("opentype");
  font-weight:100;
  font-style:normal;
}

/* inter thin italic*/
@font-face {
	font-family: "interTI";
  src :	local(※),
    url("../../../font/Inter-ThinItalic.woff") format("woff"),
    url("../../../font/Inter-ThinItalic.woff2") format("woff2"),
    url("../../../font/Inter-ThinItalic.otf") format("opentype");
  font-weight:100;
  font-style:italic;
}

/* inter extra light */
@font-face {
	font-family: "interEL";
  src :	local(※),
    url("../../../font/Inter-ExtraLight.woff") format("woff"),
    url("../../../font/Inter-ExtraLight.woff2") format("woff2"),
    url("../../../font/Inter-ExtraLight.otf") format("opentype");
  font-weight:200;
  font-style:normal;
}

/* inter extra light italic */
@font-face {
	font-family: "interELI";
  src :	local(※),
    url("../../../font/Inter-ExtraLightItalic.woff") format("woff"),
    url("../../../font/Inter-ExtraLightItalic.woff2") format("woff2"),
    url("../../../font/Inter-ExtraLightItalic.otf") format("opentype");
  font-weight:200;
  font-style:italic;
}

/* inter light */
@font-face {
	font-family: "inter";
  src :	local(※),
    url("../../../font/Inter-Light.woff") format("woff"),
    url("../../../font/Inter-Light.woff2") format("woff2"),
    url("../../../font/Inter-Light.otf") format("opentype");
  font-weight:300;
  font-style:normal;
}

/* inter light italic*/
@font-face {
	font-family: "interLI";
  src :	local(※),
    url("../../../font/Inter-LightItalic.woff") format("woff"),
    url("../../../font/Inter-LightItalic.woff2") format("woff2"),
    url("../../../font/Inter-LightItalic.otf") format("opentype");
  font-weight:300;
  font-style:italic;
}

/* inter regular */
@font-face {
	font-family: "inter";
  src :	local(※),
    url("../../../font/Inter-Regular.woff") format("woff"),
    url("../../../font/Inter-Regular.woff2") format("woff2"),
    url("../../../font/Inter-Regular.otf") format("opentype");
  font-weight:normal;
  font-style:normal;
}

/* inter reguler italic*/
@font-face {
	font-family: "interI";
  src :	local(※),
    url("../../../font/Inter-italic.woff") format("woff"),
    url("../../../font/Inter-italic.woff2") format("woff2"),
    url("../../../font/Inter-italic.otf") format("opentype");
  font-weight:normal;
  font-style:italic;
}

/* inter medium */
@font-face {
	font-family: "interM";
  src :	local(※),
    url("../../../font/Inter-Medium.woff") format("woff"),
    url("../../../font/Inter-Medium.woff2") format("woff2"),
    url("../../../font/Inter-Medium.otf") format("opentype");
  font-weight:500;
  font-style:normal;
}

/* inter medium */
@font-face {
	font-family: "interMI";
  src :	local(※),
    url("../../../font/Inter-MediumItalic.woff") format("woff"),
    url("../../../font/Inter-MediumItalic.woff2") format("woff2"),
    url("../../../font/Inter-MediumItalic.otf") format("opentype");
  font-weight:500;
  font-style:italic;
}

/* inter semi bold */
@font-face {
	font-family: "interSB";
  src :	local(※),
    url("../../../font/Inter-SemiBold.woff") format("woff"),
    url("../../../font/Inter-SemiBold.woff2") format("woff2"),
    url("../../../font/Inter-SemiBold.otf") format("opentype");
  font-weight:600;
  font-style:normal;
}

/* inter semi bold italic */
@font-face {
	font-family: "interSBI";
  src :	local(※),
    url("../../../font/Inter-SemiBoldItalic.woff") format("woff"),
    url("../../../font/Inter-SemiBoldItalic.woff2") format("woff2"),
    url("../../../font/Inter-SemiBoldItalic.otf") format("opentype");
  font-weight:600;
  font-style:italic;
}

/* inter bold */
@font-face {
	font-family: "inter";
  src :	local(※),
    url("../../../font/Inter-Bold.woff") format("woff"),
    url("../../../font/Inter-Bold.woff2") format("woff2"),
    url("../../../font/Inter-Bold.otf") format("opentype");
  font-weight:700;
  font-style:normal;
}

/* inter bold italic*/
@font-face {
	font-family: "interBI";
  src :	local(※),
    url("../../../font/Inter-BoldItalic.woff") format("woff"),
    url("../../../font/Inter-BoldItalic.woff2") format("woff2"),
    url("../../../font/Inter-BoldItalic.otf") format("opentype");
  font-weight:700;
  font-style:italic;
}

/* inter extra bold */
@font-face {
	font-family: "inter";
  src :	local(※),
    url("../../../font/Inter-ExtraBold.woff") format("woff"),
    url("../../../font/Inter-ExtraBold.woff2") format("woff2"),
    url("../../../font/Inter-ExtraBold.otf") format("opentype");
  font-weight:800;
  font-style:normal;
}

/* inter extra bold italic*/
@font-face {
	font-family: "interEBI";
  src :	local(※),
    url("../../../font/Inter-ExtraBoldItalic.woff") format("woff"),
    url("../../../font/Inter-ExtraBoldItalic.woff2") format("woff2"),
    url("../../../font/Inter-ExtraBoldItalic.otf") format("opentype");
  font-weight:800;
  font-style:italic;
}


/* inter black */
@font-face {
	font-family: "interBK";
  src :	local(※),
    url("../../../font/Inter-Black.woff") format("woff"),
    url("../../../font/Inter-Black.woff2") format("woff2"),
    url("../../../font/Inter-Black.otf") format("opentype");
  font-weight:900;
  font-style:normal;
}

/* inter black italic*/
@font-face {
	font-family: "interBKI";
  src :	local(※),
    url("../../../font/Inter-BlackItalic.woff") format("woff"),
    url("../../../font/Inter-BlackItalic.woff2") format("woff2"),
    url("../../../font/Inter-BlackItalic.otf") format("opentype");
  font-weight:900;
  font-style:italic;
}

/* LinBiolinum */

@font-face {
	font-family: "linuxBiolinum";
  src :	local(※),
    url("../../../font/LinBiolinum_R.woff") format("woff"),
    url("../../../font/LinBiolinum_R.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

/* noto sans kr */

@font-face {
	font-family: "notoKrL";
  src :	local(※),
    url("../../../font/notokr-light.woff2") format("woff2");
  font-weight:300;
  font-style:normal;
}

@font-face {
	font-family: "notoKrDL";
  src :	local(※),
    url("../../../font/notokr-DemiLight.woff") format("woff"),
    url("../../../font/notokr-DemiLight.woff2") format("woff2"),
    url("../../../font/notokr-DemiLight.otf") format("opentype");
  font-weight:350;
  font-style:normal; 
}

@font-face {
	font-family: "notoKr";
  src :	local(※),
    url("../../../font/notokr-regular.woff") format("woff"),
    url("../../../font/notokr-regular.woff2") format("woff2"),
    url("../../../font/notokr-regular.otf") format("opentype");
  font-weight:normal;
  font-style:normal;
}

@font-face {
	font-family: "notoKrM";
  src :	local(※),
    url("../../../font/notokr-medium.woff") format("woff"),
    url("../../../font/notokr-medium.woff2") format("woff2"),
    url("../../../font/notokr-medium.otf") format("opentype");
  font-weight:500;
  font-style:normal;
}

@font-face {
	font-family: "notoKr";
  src :	local(※),
    url("../../../font/notokr-bold.woff") format("woff"),
    url("../../../font/notokr-bold.woff2") format("woff2"),
    url("../../../font/notokr-bold.otf") format("opentype");
  font-weight:700;
  font-style:normal;
}
